body {
  background-color: red;
  color: black;
  padding: 20px;
  font-family: 'Oswald', Sans-Serif;
}
h1, h2 {
  border-bottom: 2px solid black;
  font-family: 'Montserrat', Sans-Serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.card {
  max-width: 90%;
  margin: auto;
  background-color: white;
  border-radius: 15px;
  text-align: center;
}
li {
  transition: 0.3s;
}
li:hover {
  color: white;
  background-color: royalblue;
  transform: scale(1.1);
}
img {
  padding: 10px;
  margin: 10px;
  max-width: 2000px;
}